page-detail {
  .label {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .danger {
    color: #a94442;
  }
  .secondary {
    color: #3c763d;
  }
  .light {
    background-color: #f4f4f4;
  }
  .col {
    font-size: 95%;
  }
  .txt-center {
    text-align: center;
  }
  .ios-header {
    font-size: 120%;
  }
}
