page-home {
  .col {
    font-size: 90%;
    color: #383a3e;
  }
  .danger {
    color: #f04141;
  }
  .primary {
    color: #3880ff;
  }
  .warning {
    color: #e0b500;
  }
  .light {
    background-color: #f4f4f4;
  }
  .ios-margin {
    margin-top: 5px;
  }
}

