<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 彩迷心窍</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" height="22" />
                </a>
                <a asp-page="/Index" class="navbar-brand">彩迷心窍</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">彩票大厅</a></li>
                    <li class="dropdown">
                        <a href="/PK10" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">北京PK10<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/PK10/1">冠军</a></li>
                            <li><a href="/PK10/2">亚军</a></li>
                            <li><a href="/PK10/3">季军</a></li>
                            <li><a href="/PK10/4">第四名</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/PK10/5">冠军大小</a></li>
                            <li><a href="/PK10/6">冠军单双</a></li>
                            <li><a href="/PK10/7">冠军龙虎</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/PK10/8">冠亚和值</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/CQSSC" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">重庆时时彩<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/CQSSC/1">总和单双</a></li>
                            <li><a href="/CQSSC/2">总和大小</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/CQSSC/3">龙虎</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/CQSSC/4">后二组选</a></li>
                            <li><a href="/CQSSC/5">后三组选</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/CQSSC/6">个位单双</a></li>
                            <li><a href="/CQSSC/7">个位大小</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/CQSSC/8">个位定位</a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Instructions">策略说明</a></li>
                    <li class="dropdown">
                        <a href="/Rules" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">玩法介绍<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Rules/PK10">北京PK10</a></li>
                            <li><a href="/Rules/CQSSC">重庆时时彩</a></li>
                        </ul>
                    </li>
                    <li><a asp-page="/Contact">关于</a></li>
                    <!-- <li><a href="/SSR">科学上网</a></li> -->
                </ul>
                <p class="navbar-text pull-right">
                    <a href="#" class="navbar-link" data-toggle="modal" data-target="#logOn" title="会员中心"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;&nbsp;
                    <a href="/Settings" class="navbar-link" title="系统设置"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                </p>
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - 彩迷心窍&nbsp;<a href="/" class="text-danger">bet518.win</a></p>
        </footer>
    </div>
    <div class="modal fade" id="logOn" tabindex="-1" role="dialog" aria-labelledby="logOnModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="logOnModalLabel">会员登录</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="userName" class="sr-only">用户名:</label>
                            <input type="text" class="form-control" id="userName" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">密码:</label>
                            <input type="password" class="form-control" id="password" placeholder="密码">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 记住我
                            </label>&nbsp;&nbsp;
                            <a href="#">忘记密码</a>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="pull-left">注册会员</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/notify/bootstrap-notify.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script src="~/lib/notify/bootstrap-notify.min.js"></script>
    </environment>
    <environment include="Development,Production">
        <script src="~/lib/signalr/signalr.min.js"></script>
        @*
            <script src="~/lib/msgpack5/msgpack5.min.js"></script>
            <script src="~/lib/signalr-protocol-msgpack/signalr-protocol-msgpack.min.js"></script>
        *@
        <script src="~/lib/art-template/template-web.js"></script>
        <script src="~/js/template-ext.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.serializejson.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
