@page
@{
    ViewData["Title"] = "关于我们";
}


<div class="page-header">
    <h4>
        关于我们
        <small>联系我们以获得更多帮助</small>
    </h4>
</div>

<div class="container">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">联系我们</h4>
            <address>
                <strong>Support:</strong> <a href="mailto:zhangcheng5468@gmail.com">zhangcheng5468@gmail.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:zhangcheng5468@gmail.com">zhangcheng5468@gmail.com</a>
            </address>
        </div>
        <div class="media-right">
            <a href="#">
                <img class="media-object" src="/images/wechat.jpg" style="height:300px;">
            </a>
        </div>
    </div>
</div>
