@page
@{
    ViewData["Title"] = "彩票大厅";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="page-header">
    <h4>
        彩票大厅
        <small>即时玩法预测</small>
    </h4>
</div>
<div class="row lotter-pannel">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                北京PK10
                <span class="pull-right">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                    <span id="timer-pk10" class="text-danger"></span>
                </span>
            </div>
            <div class="panel-body pk10-panel">
                <p class="hide">
                    9:00 - 23:55 每5分钟一期，全天共179期
                    当前期号: <strong class="text-danger pk-period"></strong>
                </p>
            </div>

            <table class="table table-striped table-bordered table-hover table-condensed hide">
                <thead>
                    <tr>
                        <th class="text-center">玩法</th>
                        <th>预测号码</th>
                        <th>追号次数</th>
                        <th>中奖率</th>
                        <th>评分</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="champion">
                        <td rowspan="2"><a href="/PK10/1">冠军</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="second">
                        <td rowspan="2"><a href="/PK10/2">亚军</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="third">
                        <td rowspan="2"><a href="/PK10/3">季军</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="fourth">
                        <td rowspan="2"><a href="/PK10/4">第四名</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="bigOrSmall">
                        <td rowspan="2"><a href="/PK10/5">冠军大小</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="oddOrEven">
                        <td rowspan="2"><a href="/PK10/6">冠军单双</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="dragonOrTiger">
                        <td rowspan="2"><a href="/PK10/7">冠军龙虎</a></td>
                    </tr>
                    <tr></tr>
                    <tr id="sum">
                        <td rowspan="2"><a href="/PK10/8">冠亚和值</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                重庆时时彩
                <span class="pull-right">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                    <span class="text-danger">2:38</span>
                </span>
            </div>
            <div class="panel-body">
                <p class="lead">正在开发中...</p>
                @*<p>
                        每5/10分钟一期，全天120期
                        当前 <strong class=text-danger>83</strong> 期，剩余37期
                    </p>*@
            </div>
            @*
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center">玩法</th>
                        <th>预测号码</th>
                        <th>追号次数</th>
                        <th>中奖率</th>
                        <th>评分</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="2">个位定位</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">个位大小</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">个位单双</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">总和单双</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">总和大小</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">龙虎</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">后二组选</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td rowspan="2">后三组选</td>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>1,2,3,4,5</td>
                        <td>2</td>
                        <td>88.6%</td>
                        <td>95</td>
                    </tr>
                    </tbody>
                </table>
            *@
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_LoadingPartial" />
    <partial name="_NoResultPartial" />

    <script id="planTemplate" type="text/html">
        <td class="{{cls}}">{{forcastNo}}</td>
        <td class="{{cls}}">{{chaseTimes}}</td>
        <td class="{{cls}}">{{winProbability*100|toFixed}}%</td>
        <td class="{{cls}}">{{score|toFixed 0}}</td>
    </script>
    <script id="planExpired" type="text/html">
        <small class="text-danger expired">(已过期)</small>
    </script>
    <script src="/js/index.js"></script>
}
