@page

<div class="container">
    <div class="jumbotron">
      <h1>策略计划分析</h1>
      <p>
          计划分析由人工手动发布至网站，可能每期计划号码的发布时间有1-10秒时间差。
          "5码3期计划"适用于加奖70%至93%的北京赛车，若加奖太低可能无法赢利，若太高可能是小黑平台引诱骗钱。
      </p>
      <p><a class="btn btn-primary btn-lg" href="/PK10" role="button">Try it now</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>什么是"5码3期计划"？</h4>
            <p>在北京赛车→定位胆玩法，根据计划员提供的5个号码，在对应车道选择相同的5个号进行购买，中了换号码，不中继续倍投。此为"5码3期计划"，是目前加奖时时彩概率最高的人工计划与玩法。</p>
        </div>
        <div class="col-md-6">
            <h4>投注方式是怎样的 ？</h4>
            <p>计划号码仅适用于倍投模式，连续3期购买一组计划号码，若中奖将会更换计划号码，若未中奖，请按下面倍投公式翻倍继续跟计划号码，如果连续3期计划都未中，计划员将会更换新的一组计划号码，继续进行倍投。倍投期间请勿停止翻倍，什么时候倍投中了，什么时候停止翻倍，否则全部亏损。</p>
        </div>
    </div>
    <hr/>
    <div class="alert alert-danger" role="alert">倍投公式：1倍 3倍 8倍 24倍 50倍 100倍 300倍 800倍 2400倍</div>
</div>