@page "{rule?}"
@section Styles {
    <link rel="stylesheet" href="~/css/rules.css" />
}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingPK10">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePK10" aria-expanded="true" aria-controls="collapsePK10">
                    北京PK10
                </a>
            </h4>
        </div>
        <div id="collapsePK10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPK10">
            <div class="panel-body">
                <p>
                    开盘时间：09:00-23:55（5分钟一期，共计179期）。每期开奖号码为十个号码，分为第一、第二、第三、第四、第五、第六、第七、第八、第九、第十位。
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>玩法</th>
                                <th>说明</th>
                                <th>举例</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>猜冠军</td>
                            <td>选号与开奖号码中第一位一致即中奖。</td>
                            <td>投注：1，开奖：1*********，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜冠亚军</td>
                            <td>选号与开奖号码按位猜对2位即中奖。。</td>
                            <td>投注：冠军1、亚军3，开奖：13********，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前三名</td>
                            <td>选号与开奖号码按位猜对3位即中奖。</td>
                            <td>投注：冠军1、亚军3、第三名4，开奖：134*******，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前四名</td>
                            <td>选号与开奖号码按位猜对4位即中奖。。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5，开奖：1345******，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前五名</td>
                            <td>选号与开奖号码按位猜对5位即中奖。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6，开奖：13456*****，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前六名</td>
                            <td>选号与开奖号码按位猜对6位即中奖。。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6、第六名8，开奖：134568****，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前七名</td>
                            <td>选号与开奖号码按位猜对7位即中奖。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6、第六名8、第七名2，开奖：1345682***，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前八名</td>
                            <td>选号与开奖号码按位猜对8位即中奖。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6、第六名8、第7名2、第八名7，开奖：13456827**，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前九名</td>
                            <td>选号与开奖号码按位猜对9位即中奖。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6、第六名8、第7名2、第八名7、第九名9，开奖：134568279*，即为中奖。</td>
                        </tr>
                        <tr>
                            <td>猜前十名</td>
                            <td>选号与开奖号码按位猜对10位即中奖。。</td>
                            <td>投注：冠军1、亚军3、第三名4、第四名5、第五名6、第六名8、第7名2、第八名7、第九名9、第十名10，开奖：134568279'10'(最后的10算一个数字)，即为中奖。</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingCQSSC">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCQSSC" aria-expanded="false" aria-controls="collapseCQSSC">
                    重庆时时彩
                </a>
            </h4>
        </div>
        <div id="collapseCQSSC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCQSSC">
            <div class="panel-body">
                <p>
                    开盘时间：9:50-21:50（10分钟一期，共72期）22:00-01:55（5分钟一期，共48期）全天120期。每期开奖号码为一个五位数号码，分为个、十、百、千、万位。
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:70px;">玩法</th>
                                <th style="width:95px;">子玩法</th>
                                <th>说明</th>
                                <th>举例</th>
                            </tr>
                        </thead>
                        <tr>
                            <td rowspan="7">五星</td>
                            <td>直选复式</td>
                            <td>从万位、千位、百位、十位、个位中选择一个5位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。</td>
                            <td>
                                投注方案：13456
                                <br />开奖号码：13456，即中五星直选
                            </td>
                        </tr>
                        <tr>
                            <td>直选单式</td>
                            <td>手动输入一个5位数号码组成一注，所选号码的万位、千位、百位、十位、个位与开奖号码相同，且顺序一致，即为中奖</td>
                            <td>
                                投注方案：23456
                                <br />开奖号码：23456，即中五星直选
                            </td>
                        </tr>
                        <tr>
                            <td>五星组合</td>
                            <td>从万位、千位、百位、十位、个位中至少各选一个号码组成1-5星的组合，共五注，所选号码的个位与开奖号码全部相同，则中1个5等奖；所选号码的个位、十位与开奖号码相同，则中1个5等奖以及1个4等奖，依此类推，最高可中5个奖</td>
                            <td>
                                投注方案：45678，含以下5注：45678(五星)、5678(四星)、678(三星)、78(二星)、8(一星)。
                                <br />开奖号码：45678，即中五星、四星、三星、二星、一星各1注
                            </td>
                        </tr>
                        <tr>
                            <td>一帆风顺</td>
                            <td>从0-9中任意选择1个号码组成一注，只要开奖号码的万位、千位、百位、十位、个位中包含所选号码，即为中奖。</td>
                            <td>
                                投注方案：8
                                <br />开奖号码：至少出现1个8，即中一帆风顺
                            </td>
                        </tr>
                        <tr>
                            <td>好事成双</td>
                            <td>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万位、千位、百位、十位、个位中出现2次，即为中奖5位即中奖。</td>
                            <td>
                                投注方案：8
                                <br />开奖号码：至少出现2个8，即中好事成双
                            </td>
                        </tr>
                        <tr>
                            <td>三星报喜</td>
                            <td>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万位、千位、百位、十位、个位中出现3次，即为中奖</td>
                            <td>
                                投注方案：8
                                <br />开奖号码：至少出现3个8，即中三星报喜
                            </td>
                        </tr>
                        <tr>
                            <td>四季发财</td>
                            <td>从0-9中任意选择1个号码组成一注，只要所选号码在开奖号码的万位、千位、百位、十位、个位中出现4次，即为中奖</td>
                            <td>
                                投注方案：8
                                <br />开奖号码：至少出现4个8，即中四季发财
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="7">四星</td>
                            <td>直选复式</td>
                            <td>从千位、百位、十位、个位中选择一个4位数号码组成一注，所选号码与开奖号码相同，且顺序一致，即为中奖</td>
                            <td>
                                投注方案：3456
                                <br />开奖号码：23456，即中四星直选
                            </td>
                        </tr>
                        <tr>
                            <td>直选单式</td>
                            <td>手动输入一个4位数号码组成一注，所选号码的千位、百位、十位、个位与开奖号码相同，且顺序一致，即为中奖</td>
                            <td>
                                投注方案：3456
                                <br />开奖号码：23456，即中四星直选
                            </td>
                        </tr>
                        <tr>
                            <td>四星组合</td>
                            <td>从千位、百位、十位、个位中至少各选一个号码组成1-4星的组合，共四注，所选号码的个位与开奖号码全部相同，则中1个4等奖；所选号码的个位、十位与开奖号码相同，则中1个4等奖以及1个3等奖，依此类推，最高可中4个奖</td>
                            <td>
                                投注方案：5678，含以下4注：5678(四星)、678(三星)、78(二星)、8(一星)。
                                <br />开奖号码：45678，即中四星、三星、二星、一星各1注
                            </td>
                        </tr>
                        <tr>
                            <td>组选24</td>
                            <td>从0-9中任意选择4个号码组成一注，所选号码与开奖号码的千位、百位、十位、个位相同，且顺序不限，即为中奖</td>
                            <td>
                                投注方案：0568
                                <br />开奖号码：10568（顺序不限），即可中四星组选24
                            </td>
                        </tr>
                        <tr>
                            <td>组选12</td>
                            <td>选择1个二重号码和两个单号号码组成一注，所选号码与开奖号码的千位、百位、十位、个位相同，且所选二重号在开奖号码中出现了2次，即为中奖</td>
                            <td>
                                投注方案：二重号8，单号06
                                <br />开奖号码：10688（顺序不限），即可中四星组选12
                            </td>
                        </tr>
                        <tr>
                            <td>组选6</td>
                            <td>选择2个二重号码组成一注，所选的2个二重号码在开奖号码的千位、百位、十位、个位中分别出现了2次，即为中奖</td>
                            <td>
                                投注方案：二重号28
                                <br />开奖号码：62288（顺序不限），即可中四星组选6
                            </td>
                        </tr>
                        <tr>
                            <td>组选4</td>
                            <td>选择1个三重号码和1个单号号码组成一注，所选号码与开奖号码的千位、百位、十位、个位相同，且所选三重号码在开奖号码中出现了3次，即为中奖</td>
                            <td>
                                投注方案：三重号8，单号2
                                <br />开奖号码：68828（顺序不限），即可中四星组选4
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="14">三星</td>
                            <td>直选复式</td>
                            <td>从万位、千位、百位中选择一个3位数号码组成一注，所选号码与开奖号码的前3位相同，且顺序一致，即为中奖。</td>
                            <td>
                                投注方案：345
                                <br />开奖号码前三位：345，即中前三直选
                            </td>
                        </tr>
                        <tr>
                            <td>直选单式</td>
                            <td>手动输入一个3位数号码组成一注，所选号码的万位、千位、百位与开奖号码相同，且顺序一致，即为中奖。</td>
                            <td>
                                投注方案：345；
                                <br />开奖号码前三位：345，即中前三直选
                            </td>
                        </tr>
                        <tr>
                            <td>前三组合</td>
                            <td>从万位、千位、百位中至少各选择一个号码组成1-3星的组合共三注，当百位号码与开奖号码相同，则中1个3等奖；如果百位与千位号码与开奖号码相同，则中1个3等奖以及1个2等奖，依此类推，最高可中3个奖。</td>
                            <td>
                                投注号码：678，含以下3注：678（三星）、78（二星）、8（一星）构成
                                <br />开奖号码：678xx，即可中三星、二星、一星各一注
                            </td>
                        </tr>
                        <tr>
                            <td>直选和值</td>
                            <td>所选数值等于开奖号码的万位、千位、百位三个数字相加之和，即为中奖。</td>
                            <td>
                                投注方案：和值1；
                                <br />开奖号码：前三位：001,010,100,即中前三直选。
                            </td>
                        </tr>
                        <tr>
                            <td>直选跨度</td>
                            <td>所选数值等于开奖号码的前3位最大与最小数字相减之差，即为中奖。</td>
                            <td>
                                投注方案：跨度8；
                                <br />开奖号码前三位：(1)开出的三个数字包括0,8,x，其中x≠9，即可中前三直选;(2)开出的三个数字包括1,9,x，其中x≠0，即可中前三直选跨度
                            </td>
                        </tr>
                        <tr>
                            <td>组三复式</td>
                            <td>从0-9中选择2个数字组成两注，所选号码与开奖号码的万位、千位、百位相同，且顺序不限，即为中奖。</td>
                            <td>
                                投注方案：5,8,8；
                                <br />开奖号码前三位：1个5，2个8 (顺序不限)，即中前三组三。
                            </td>
                        </tr>
                        <tr>
                            <td>组三单式</td>
                            <td>手动输入一个3位数号码组成一注，三个数字中必须有两个数字相同，输入号码与开奖号码的万位、千位、百位相同（顺序不限），即为中奖。</td>
                            <td>
                                投注方案：5,8,8；
                                <br />开奖号码前三位：1个5，2个8 (顺序不限)，即中前三组三。
                            </td>
                        </tr>
                        <tr>
                            <td>组六复式</td>
                            <td>从0-9中任意选择3个号码组成一注，所选号码与开奖号码的万位、千位、百位相同，顺序不限，即为中奖。</td>
                            <td>
                                投注方案：2,5,8；
                                <br />开奖号码前三位：1个2、1个5、1个8 (顺序不限)，即中前三组六。
                            </td>
                        </tr>
                        <tr>
                            <td>组六单式</td>
                            <td>手动输入一个3位数号码组成一注，输入号码与开奖号码的万位、千位、百位相同（顺序不限），即为中奖。</td>
                            <td>
                                投注方案：2,5,8；
                                <br />开奖号码前三位：1个2、1个5、1个8 (顺序不限)，即中前三组六。
                            </td>
                        </tr>
                        <tr>
                            <td>混合组选</td>
                            <td>手动输入一个3位数号码组成一注(不含豹子号)，开奖号码的万位、千位、百位符合前三组三或组六均为中奖。</td>
                            <td>
                                投注方案：分別投注(0,0,1),以及(1,2,3)，
                                <br />开奖号码前三位包括：(1)0,0,1，顺序不限，即中得组三；或者(2)1,2,3，顺序不限，即中得组六。
                            </td>
                        </tr>
                        <tr>
                            <td>组选和值</td>
                            <td>所选数值等于开奖号码万位、千位、百位三个数字相加之和(不含豹子号)，即为中奖。</td>
                            <td>
                                投注方案：和值3；
                                <br />开奖号码前三位：(1)开出003号码，顺序不限，即中前三组三；(2)开出012号码，顺序不限，即中前三组六。
                            </td>
                        </tr>
                        <tr>
                            <td>组选包胆</td>
                            <td>手从0-9中任意选择1个包胆号码，开奖号码的万位、千位、百位中任意1位只要和所选包胆号码相同(不含豹子号)，即为中奖。</td>
                            <td>
                                投注方案：包胆3；
                                <br />开奖号码前三位：(1)出现3xx或者33x,即中前三组三；(2)出现3xy，即中前三组六。
                            </td>
                        </tr>
                        <tr>
                            <td>和值尾数</td>
                            <td>所选数值等于开奖号码的万位、千位、百位三个数字相加之和的尾数，即为中奖。</td>
                            <td>
                                投注方案：和值尾数8；
                                <br />开奖号码：前三位和值尾数为8，即中得和值尾数。
                            </td>
                        </tr>
                        <tr>
                            <td>特殊号</td>
                            <td>
                                所选的号码特殊属性和开奖号码前3位的属性一致，即为中奖
                                <br />1、豹子号指的是三位数字全部相同
                                <br />2、顺子号指的是三位数字呈现连号状态（顺序不限）
                                <br />3、对子号指的是三位数字中有任两码为相同号
                                <br />4、半顺号指的是三位数字中，有两个号码呈现连号状态（顺序不限）
                                <br />5、杂六号指的是三位数字中，状态非豹子号、顺子号、对子号、半顺号，即为杂六
                            </td>
                            <td>
                                投注方案：豹子
                                <br />开奖号码：000xx，即中豹子
                                <br />投注方案：顺子
                                <br />开奖号码：123xx，即中顺子
                                <br />投注方案：对子
                                <br />开奖号码：001xx，即中对子
                                <br />投注方案：半顺
                                <br />开奖号码：124xx，即中半顺
                                <br />投注方案：杂六
                                <br />开奖号码：158xx，即中杂六
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="8">二星</td>
                            <td>直选复式</td>
                            <td>从万位、千位中选择一个2位数号码组成一注，所选号码与开奖号码的前2位相同，且顺序一致，即为中奖。</td>
                            <td>
                                投注方案：58；
                                <br />开奖号码前二位：58，即中前二直选。
                            </td>
                        </tr>
                        <tr>
                            <td>直选单式</td>
                            <td>手动输入一个2位数号码组成一注，所选号码的万位、千位与开奖号码相同，且顺序一致，即为中奖。</td>
                            <td>
                                投注方案：58
                                <br />开奖号码前二位：58，即中前二直选。
                            </td>
                        </tr>
                        <tr>
                            <td>直选和值</td>
                            <td>所选数值等于开奖号码的万位、千位二个数字相加之和，即为中奖。</td>
                            <td>
                                投注方案：和值1；
                                <br />开奖号码前二位：01,10，即中前二直选。
                            </td>
                        </tr>
                        <tr>
                            <td>直选跨度</td>
                            <td>所选数值等于开奖号码的前2位最大与最小数字相减之差，即为中奖。</td>
                            <td>
                                投注方案：跨度9；
                                <br />开奖号码为9,0,-,-,-或0,9,-,-,-，即中前二直选跨度。
                            </td>
                        </tr>
                        <tr>
                            <td>组选复式</td>
                            <td>从0-9中选2个号码组成一注，所选号码与开奖号码的万位、千位相同，顺序不限（不含对子号），即中奖。</td>
                            <td>
                                投注方案：5,8；
                                <br />开奖号码前二位：85 或58(顺序不限，不含对子号)，即中前二组选。
                            </td>
                        </tr>
                        <tr>
                            <td>组选单式</td>
                            <td>手动输入一个2位数号码组成一注，所选号码的万位、千位与开奖号码相同，顺序不限（不含对子号），即为中奖。</td>
                            <td>
                                投注方案：5,8；
                                <br />开奖号码前二位：85 或58(顺序不限，不含对子号)，即中前二组选。
                            </td>
                        </tr>
                        <tr>
                            <td>组选和值</td>
                            <td>所选数值等于开奖号码的万位、千位二个数字相加之和（不含对子号），即为中奖。</td>
                            <td>
                                投注方案：和值1；
                                <br />开奖号码前二位：10或01 (顺序不限，不含对子号)，即中前二组选。
                            </td>
                        </tr>
                        <tr>
                            <td>组选包胆</td>
                            <td>从0-9中任意选择1个包胆号码，开奖号码的万位、千位中任意1位包含所选的包胆号码相同（不含对子号），即为中奖。</td>
                            <td>
                                投注方案：包胆号码8；
                                <br />开奖号码前二位：出现1个8（不包括2个8），即中前二组选。
                            </td>
                        </tr>
                        <tr>
                            <td>定位胆</td>
                            <td>定位胆</td>
                            <td>从万位、千位、百位、十位、个位任意位置上至少选择1个以上号码，所选号码与相同位置上的开奖号码一致，即为中奖。</td>
                            <td>
                                投注方案：万位 1；
                                <br />开奖号码万位：1，即中定位胆万位。
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">龙虎总和</td>
                            <td>龙虎和</td>
                            <td>从龙、虎、和中任意选择1个号码形态组成一注，只要开奖号码的万位大于千位，则为龙；万位小于千位，则为虎；相同号码则为和。</td>
                            <td>
                                投注方案：龙
                                <br/>开奖号码：61051，开奖号码的万位大于千位，即中龙。
                            </td>
                        </tr>
                        <tr>
                            <td>总和大小单双</td>
                            <td>从总和大、小、单、双中任意选择1个号码形态组成一注，只要所选形态与开奖号码的5位数号码总和（大于等于23：总和大、小于等于22：总和小、单数：总和单、双数：总和双）形态相同，即为中奖</td>
                            <td>
                                投注方案：总和大
                                <br/>开奖号码：16568，开奖号码的总和26，即中总和大。
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/rules.js"></script>
}