<script id="noResultTemplate" type="text/html">
    <div class="alert alert-danger alert-dismissible fade in plan-noresult" role="alert">
        <h4>糟糕! 没有有效数据!</h4>
        <p>服务器没有返回任何有效数据，这可能是由于网络问题或者服务器程序错误导致。请联系系统管理员以修复此问题，或者稍后重试</p>
        <p>
            <a href="/Contact" class="btn btn-danger">联系管理员</a>
            <a href="javascript:location.reload()" class="btn btn-default">刷新重试</a>
        </p>
    </div>
</script>